h1 {
  font-weight: lighter;
  text-align: center;
}

p {
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
}

#styling {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}